/** {margin: 0; padding: 0;}*/

.vselect-body {
  margin: 20px;
}
 
.vselect-list {
  list-style-type: none;
  width: 500px;
}
 
.vselect-item-header {
  font: bold 20px/1.5 Helvetica, Verdana, sans-serif;
}
 
.vselect-item-image {
  float: left;
  margin: 0 15px 0 0;
}
 
.vselect-item-para {
  font: 200 12px/1.5 Georgia, Times New Roman, serif;
}
 
.vselect-item {
  padding: 10px;
  overflow: auto;
}
 
.vselect-item:hover {
  background: #eee;
  cursor: pointer;
}